body{background-color:#eee;color:#000}
.gray{color:#323232!important}
.kqbackground{background-color:#fff}
.container{padding-left:6px;padding-right:6px;background-color:#fff;overflow:hidden}
.kqcenter{text-align:center;vertical-align:middle!important}
a{color:blue}
.navbar-nav>li>a,.navbar-brand{padding-top:9px!important;padding-bottom:0!important;height:38px!important;color:#fff!important}
#head_menu li{margin:0 5px}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.open>a,.sidebar-nav ul ul a.active,#ketqua_head_menu a:hover{background-color:#ef1515!important;max-height:33px}
#ketqua_head_menu .dropdown-menu a:hover{color:#fff}
.nav#head_menu>li>a{padding:8px 10px!important;font-size:15px}
#ketqua_head_menu .container-fluid{padding-left:0;padding-right:0}
.navbar{border-radius:0;min-height:35px!important;max-height:35px!important;background:#104f82!important;background-color:#104f82!important}
.back-to-top{position:fixed;bottom:20px;right:63px}
.back-to-top i{color:red;display:block;width:35px;height:35px;background:rgba(0,0,0,0.075);text-align:center;font-size:30px}
.mautrang{color:#fff}
.maudo{color:red!important}
.dosam{color:#900}
.mauxanh{color:blue}
.maucam{color:#ffbf00}
.camnhat{color:#ffeaa6}
.mauden{color:#3c2f2f}
.chu30{font-size:30px!important}
.chu26{font-size:26px}
.chu22{font-size:22px}
.lodb{font-size:22px!important;padding:0!important}
.chu19{font-size:19px}
.chu18{font-size:18px}
.chu17{font-size:17px}
.chu16{font-size:16px}
.chu15{font-size:15px}
.chu145{font-size:14.5px}
.chu14{font-size:14px}
.chu13{font-size:13px}
.vietdam{font-weight:700}
.vietthuong{font-weight:400}
.vietnghieng{font-style:italic}
.viethoa{text-transform:uppercase}
.center{text-align:center}
.kqvertimargin{margin-bottom:2px!important}
.kqvertimarginw{margin-bottom:10px!important}
.bkdivtitle{background-color:#104f82;color:#fff;padding:1px 10px}
.background-border{margin-bottom:10px;background-color:#fff;border:solid;border-width:1px;border-color:#7e7e7e}
.nendosam{background-color:#900}
.border{border:1px solid #ddd}
.bang_kqnhanh_bold_right{border-right:solid;border-right-color:#7e7e7e;border-right-width:1px}
.bang_kqnhanh_bold_left{border-left:solid;border-left-color:#7e7e7e;border-left-width:1px}
.bang_kqnhanh_bold_bottom{border-bottom:solid;border-bottom-color:#7e7e7e;border-bottom-width:1px}
.button-noborder{color:#333;background-color:#fff;border-color:#fff}
.ghichu{padding-left:15px}
#doxoso .col-sm-offset-1{width:45%}
#doxoso>form{padding-bottom:2px}
.mien2{font-size:14px;list-style:decimal!important;margin-left:-15px}
.mien2 li{text-transform:lowercase}
.mien2 li a{color:#000}
.mien2 li p{margin:0}
.mien2 li p:first-letter{text-transform:uppercase}
.mien2 li a:hover{color:#104f82;text-decoration:none}
.qt .qtk-ganhon{margin-bottom:-15px}
.hdsd{margin-top:4px;margin-right:6px}
.daudong{padding-left:25px}
.left25{margin-left:-25px}
div.datepicker-months>table>tbody>tr>td,div.datepicker-years>table>tbody>tr>td{width:180px}
div#left_date div.datepicker-inline{width:100%}
nav#ketqua_head_menu{margin-left:-4px;margin-right:-4px}
.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn{height:34px;padding:5px 10px;font-size:14px;line-height:1.5;border-radius:3px}
.legend{margin-bottom:5px;border-bottom:0}
.borderden{border:solid;border-width:3px;border-color:#7e7e7e}
.rolling-finished{color:green}
.rolling-progress{color:orange}
.rolling-notyet{color:#555}
.vien{border:solid;border-color:#fff;border-width:1px}
.viento{border:solid;border-color:#fff;border-left-width:3px;border-right-width:6px}
.table_invi{color:#fff}
.huongdan{margin-bottom:5px;padding:5px;background-color:#ffeb3b}
.canhbao{margin-bottom:-5px;background-color:#ffeb3b;padding-left:10px}
.modalsize{width:735px}
.news-board{padding-bottom:15px}
.news-board a{color:#000;line-height:22px}
.news-board a:hover{text-decoration:none;color:blue}
.news-padding{padding:5px 15px;max-width: 100%}
.news-padding img {max-width: 100%!important}
.panel{margin-bottom:10px!important}
.panel-default{border-radius:0!important;width:100%;display:block}
.panel-heading{background-color:#104f82!important;color:#fff;padding:0;border-radius:0}
.panel-body{padding:5px!important;position:relative}
.border0{border:0}
.pad0{padding:0!important}
.pad10{padding:10px!important}
.pad5{padding:5px!important}
.pad2{padding:2px!important}
.scroll{overflow:scroll}
.fl-r{float:right!important}
.fl-left{float:left!important}
.right-menu-item{padding:2px 5px!important;width:50%;vertical-align:middle!important}
.right-menu-row{height:40px}
.right-menu-item a{font-size:14px;color:#000}
.right-menu-item a:hover{color:#104f82;text-decoration:none}
.mar0{margin:0}
.right-menu-title{padding:7px 15px;font-size:16px;color:#fff;margin:0;font-weight:400}
.right-menu-title a{color:#fff}
.right-menu-title a:hover{color:blue;text-decoration:none}
.max-cau{float:left;padding-top:10px}
.pagination{margin:0!important}
.footer-col{list-style:none;padding:0}
.footer-col a{text-decoration:none;color:#333;float:left}
.footer-col a:hover{color:#104f82;text-decoration:none}
.background-eee{background-color:#eee}
.mainh1{display:none}
.nav li .menuh2{font-size:15px!important;font-weight:400;padding:10px;margin:0}
.menuh2 a{color:#fff}
.menuh2 a:hover{text-decoration:none;color:#333}
.menuh2 a:active{text-decoration:none;color:#333}
#head_menu li a:hover{text-decoration:none;color:#333}
.lefth2{line-height:25px;margin:0}
.martop10{margin-top:10px}
.footerh3{font-weight:400;font-size:14px;padding-bottom:1px}
.newsh2{margin:0;padding:5px;font-size:25px!important}
.newscontent{font-weight:400;font-size:16px;line-height:24px}
.newscontent p img{max-width:80%!important;text-align:center!important}
.relatenews{margin:5px;font-size:16px;font-weight:400}
.relatenews a{color:#333}
.relatenews a:hover{color:#c00;text-decoration:none}
.newsh3{clear:both;font-size:22px;font-weight:400}
.news-item{width:100%;border-bottom:1px solid #eee;float:left;padding:10px 0}
.news-list{font-size:22px;color:#022e7d}
.news_image{padding:5px 0;width:30%;float:left}
.news_image img{width:100%}
.news-main{width:70%;float:left;padding:5px 5px 5px 15px}
.news-main h4{margin-top:0!important}
.news-list:hover{text-decoration:none;color:#900}
.des-list{color:#333}
.tags-list{padding:0;float:left;list-style:none}
.tags{display:inline;background-color:#ccc;padding:2px 5px;width:auto;margin:2px}
.link-tags{color:#333}
.link-tags:hover{text-decoration:none;color:#900}
.description{font-weight:700;font-size:16px}
.more-news{float:right;font-size:14px;color:#900}
.more-news:hover{text-decoration:none;color:#333}
.all-table{text-align:center;padding:25px 0!important}
.all-table a{font-size:18px!important}
.tool-div{padding:10px 0;width:100%;float:left}
.tool-result-title{width:30%;float:left;padding:10px 20px}
.tool-result-box{border:1px solid #ddd;background-color:#f5f5f5;width:70%;float:left;min-height:120px}
.big-button{padding:30px}
.big-button button{padding:20px}
.tool-ul{width:100%;margin:0;padding:10px;float:left;list-style:none}
.tool-li{word-wrap:break-word;display:inline;padding:1px;width:auto;margin:2px}
.datepicker table{width:100%}
body.offcanvas-active{overflow:hidden}
.offcanvas-header{display:none}
.screen-darken{height:100%;width:0;z-index:30;position:fixed;top:0;right:0;opacity:0;visibility:hidden;background-color:rgba(34,34,34,0.6);transition:opacity .2s linear,visibility 0.2s,width 2s ease-in}
.screen-darken.active{z-index:10;transition:opacity .3s ease,width 0;opacity:1;width:100%;visibility:visible}
.mobile-menu-right{display:none}
.kqvertimargin img{padding:5px 0}
@media (max-width: 430px) {
.mobile-menu-right{display:block;position:absolute;right:20px;top:20px}
.form-horizontal .form-group{margin-left:0;margin-right:0}
.form-group,.big-container>.row{width:100%;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap}
.big-container>.row{margin-left:0;margin-right:0}
.big-container .row>.col-sm-5{order:0}
.big-container .row>.col-sm-2{order:1;width:100%;padding-top:10px!important}
.big-container .row>.col-sm-3{order:2}
.big-container .row>.col-sm-7,.big-container .row>.col-sm-5,.big-container .row>.col-sm-3,.big-container .row>.col-sm-2{padding:0;width:100%}
.big-container .big-container table tr{width:100%;-js-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap}
.big-container .big-container table td{width:50%}
.big-container .big-container table tr:nth-child(2) td{width:100%}
.kqbackground.vien{width:100%}
.big-container>.row .col-sm-12,.big-container>.row .col-sm-10{display:contents}
.panel-body .kqbackground .form-inline{display:flex;width:100%}
#number_selector,table.table-kq-bold-border{display:inline-block;overflow:scroll;width:100%}
#region_table{display:table;overflow:hidden}
.navbar{min-height:100%!important;max-height:100%!important;background:#fff!important;background-color:#fff!important}
.navbar-default .navbar-nav>.open>a{background-color:#fff!important}
.navbar-nav>li>a,.navbar a{color:#333!important}
.dropdown-menu{position:relative;float:none}
table.table-kq-north{display:table}
.news_image,.news-main{width:100%;float:none}
.news-main{padding:10px 0}
}
@media all and (max-width: 991px) {
.offcanvas-header{display:block}
.mobile-offcanvas{visibility:hidden;transform:translateX(-100%);border-radius:0;display:block;position:fixed;top:0;left:0;height:100%;z-index:1200;width:80%;overflow-y:scroll;overflow-x:hidden;transition:visibility .3s ease-in-out,transform .3s ease-in-out}
.mobile-offcanvas.show{visibility:visible;transform:translateX(0)}
.mobile-offcanvas .container,.mobile-offcanvas .container-fluid{display:block}
}
